@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&family=Unbounded:wght@300;800&display=swap");

:root {
  --primary-color: #121212;
  --secondary-color: #f5f6fa;
  --primary-font: Unbounded, "cursive";
  --secondary-font: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}
p,
li {
  font-family: var(--secondary-font);
  list-style: none;
}
main {
  padding: 10px;
  max-width: 80%;
  margin: 0px auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  background-color: rgb(100% 100% 100% / 0.7);
  backdrop-filter: blur(30px);
  width: 100%;
}
header a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}
header a.logo {
  font-weight: bold;
}
header nav {
  display: flex;
  gap: 15px;
}

/* POST  */
.post {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
  border-radius: 14px;
  margin-bottom: 15px;
  width: 390px;
  transition: all .3s ease-in-out;
}
.post:hover {
  /* cursor: pointer; */
  transform: scale(1.01);
  /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
}
/* .mainHome {
  display: flex;
  flex-direction: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
} */
.blogSection {
  display: flex;
  width: 100%;
  flex-direction: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 auto;
}
.post img {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}
.post .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0
}
.info .author {
  color: var(--primary-color);
  text-decoration: none;
  background-color: lightgrey;
  margin: 0;
}
.authorInfo {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-self: center;
  margin: 0;
  padding: 0;
}
time {
  font-size: 0.9rem;
  color: rgb(75, 75, 75);
}
.summery {
  margin: 0;
  padding: 0;
}
.postText {
  font-weight: 500;
  margin: 0%;
  padding: 0;
}

/* REgister  */
form.register {
  /* max-width: 400px; */
  height: 400px;
  margin: 0 auto;
  width: 600px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
form.loginForm {
  width: 560px;
  border: 1px solid lightgray;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  margin: 0px auto;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

/* SIGNUPFORM  */
.signUpForm {
  background-color: #fff;
  width: 1000px;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 50px;
  border-radius: 10px;
  padding: 16px;
  margin: 0px auto;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.orLogin {
  margin: 0;
  padding: 0;
}
.signUp {
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
}
.logo {
  margin: 0;
  padding: 0;
}
.separateLine {
  width: 1px;
  background-color: lightgray;
  height: 400px;
}
.loginLink {
  text-decoration: none;
  color: rgb(47, 0, 255);
  margin: 0;
  padding: 0;
}
input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
  border: 2px solid lightgray;
  border-radius: 5px;
  outline: none;
  padding: 15px;
}
button {
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  margin-top: 25px;
  cursor: pointer;
}
button:hover {
  background-color: #121212;
  color: #ddd;
}
.postLogout {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.newPost {
  border: 1px solid #121212;
  padding: 2px 12px;
  border-radius: 8px;
  box-shadow: 0.125rem 0.125rem rgb(75, 75, 75);
  outline: none;

  transition: 3ms linear;
}
.newPost:hover {
  cursor: pointer;
  transform: scale(1.09);
  background-color: #555;
  color: #ddd;
  outline: none;
}

form.login h1,
form.register h1 {
  text-align: center;
}
